.mainContactForm .ng-invalid-required.ng-dirty {
  background-color: lightpink;
}

.mainContactForm .ng-invalid-email.ng-dirty {
  background-color: lightgoldenrodyellow;
}

.mainContactForm .ng-valid.ng-dirty {
  background-color: lightgreen;
}

.mainContactForm button {
  margin-bottom: 10px;
}