body {
  background-color: black;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar {
  margin-top: 10px;
  border: solid darkgray 1px;
}

.panel {
  border: solid darkgray 1px;
}

.panel-body {
  background-color: #222;
}

.mainTitle {
  color: gold;
}

.dot {
  color: white;
}

.glyphicon {
  vertical-align: -1px;
}

.active {
  background-color: #080808;
  color: #ffffff;
}