body {
  background-color: black;
}

.mainNavbar .mainNavbarNav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.mainNavbar {
  margin-top: 10px;
  border: solid darkgray 1px;
}

.mainPanel {
  border: solid darkgray 1px;
}

.mainPanelBody {
  background-color: #f5f5f5;
}

.mainHeaderTitle {
  color: gold;
}

.mainHeaderDot {
  color: white;
}

.mainNavGlyphicon {
  vertical-align: -1px;
}