<div class="panel panel-primary mainPanel">
    <div class="panel-heading text-center">
        About
    </div>
    <div class="panel-body mainPanelBody text-left">
        <div class="aboutText">
            <p>Welcome to my portfolio. <b>I am currently open to employment opportunities.</b> For any business or non-business related inquiries, head over to my <a ui-sref="root.contact" class="panel-title">contact</a> page.</p>

            <b>Bio</b><br />

            <ul>
                <li>Name: Olivier Tremblay-Rosa</li>
                <li>Age: 28</li>
                <li>Location: Montreal, Canada</li>
            </ul>

            <b>Web development</b><br />

            <ul>
                <li>Javascript ES5 & ES6</li>
                <li>AngularJS</li>
                <li>NodeJS with Express Framework</li>
                <li>MongoDB/MySQL</li>
                <li>Multiple Javascript libraries and development tools, including jQuery, Underscore/Lodash, RequireJS, GulpJS, Bower/npm, Git, and others</li>
                <li>Test/Behavior Driven Development with Karma, Jasmine, Protractor, and others</li>
                <li>Async Javascript development with standard promises and various promise libraries</li>
                <li>HTML5/CSS/SCSS/LESS</li>
                <li>Bootstrap</li>
                <li>Wordpress</li>
            </ul>

            <b>Other</b><br />

            <ul>
                <li>Search Engine Marketing (SEM)</li>
                <li>Search Engine Optimization (SEO)</li>
                <li>Social Media Marketing (SMM)</li>
                <li>Social Media Optimization (SMO)</li>
                <li>PPC/PPI & Media Buys</li>
            </ul>
        </div>
    </div>
</div>