<div class="panel panel-primary">
    <div class="panel-heading text-center">
        All applications on this page were designed by <a href="#" class="panel-title">me</a>, using various front end web development technologies. For inquiries, please <a href="#" class="panel-title">contact</a> me.
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="img/calculator-1.png" alt="Sudoku">
                    <div class="caption">
                        <h3>Javascript Calculator</h3>
                        <p>Originally a simple Javascript & CSS calculator, refactored to use AngularJS & Bootstrap.</p>
                        <p class="text-center">
                            <a ui-sref=".portfolio({id: 'calculator'})" class="btn btn-primary" role="button">Demo</a>
                            <a href="#" class="btn btn-default" role="button">Code</a>
                            <a href="#" class="btn btn-info" role="button">Docs</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="img/sudoku-1.png" alt="Sudoku">
                    <div class="caption">
                        <h3>Javascript Sudoku Solver</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>
                            <a ui-sref=".portfolio({id: 'calculator2'})" class="btn btn-primary" role="button">Demo</a>
                            <a href="#" class="btn btn-default" role="button">Code</a>
                            <a href="#" class="btn btn-info" role="button">Docs</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="img/shopping-cart-1.png" alt="Sudoku">
                    <div class="caption">
                        <h3>AngularJS E-Commerce Demo</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>
                            <a ui-sref=".portfolio({id: 'petstore'})" class="btn btn-primary" role="button">Demo</a>
                            <a href="#" class="btn btn-default" role="button">Code</a>
                            <a href="#" class="btn btn-info" role="button">Docs</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="img/sudoku-1.png" alt="Sudoku">
                    <div class="caption">
                        <h3>Javascript Sudoku Solver</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>
                            <a ui-sref=".portfolio({id: 'nhlstats'})" class="btn btn-primary" role="button">Demo</a>
                            <a href="#" class="btn btn-default" role="button">Code</a>
                            <a href="#" class="btn btn-info" role="button">Docs</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="img/sudoku-1.png" alt="Sudoku">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Demo</a>
                            <a href="#" class="btn btn-default" role="button">Code</a>
                            <a href="#" class="btn btn-info" role="button">Docs</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="img/sudoku-1.png" alt="Sudoku">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary" role="button">Demo</a>
                            <a href="#" class="btn btn-default" role="button">Code</a>
                            <a href="#" class="btn btn-info" role="button">Docs</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>