<div class="panel panel-primary mainPanel">
    <div class="panel-heading text-center">
        All applications on this page were designed by <a href="#" class="panel-title">me</a>, using various front end web development technologies. For inquiries, please <a ui-sref=".contact" class="panel-title">contact</a> me.
    </div>
    <div class="panel-body mainPanelPortfolioBody">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail portfolioThumbnail">
                    <img src="img/calculator-1.png" alt="Calculator">
                    <div class="caption portfolioCaption">
                        <h3>Javascript Calculator</h3>
                        <p>Originally a simple Javascript & CSS calculator, refactored to take advantage of AngularJS & Bootstrap.</p>
                        <p>
                            <a ui-sref=".portfolio({id: 'calculator'})" class="btn btn-primary" role="button">Demo</a>
                            <a href="https://github.com/oliviertr/jscalculator" target="_blank" class="btn btn-default" role="button">Code</a>
                            <a ui-sref=".docs({id: 'calculator'})" class="btn btn-info" role="button">Docs</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail portfolioThumbnail">
                    <img src="img/sudoku-1.png" alt="Sudoku">
                    <div class="caption portfolioCaption">
                        <h3>Javascript Sudoku Game</h3>
                        <p>Fully featured Javascript Sudoku game, with hints, autoplay, and autosolve. French documentation. Desktop only.</p>
                        <p>
                            <a ui-sref=".portfolio({id: 'sudoku'})" class="btn btn-primary" role="button">Demo</a>
                            <a href="https://github.com/oliviertr/jssudoku" target="_blank" class="btn btn-default" role="button">Code</a>
                            <a ui-sref=".docs({id: 'sudoku'})" class="btn btn-info" role="button">Docs</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail portfolioThumbnail">
                    <img src="img/shopping-cart-1.png" alt="E-Commerce">
                    <div class="caption portfolioCaption">
                        <h3>AngularJS E-Commerce Demo</h3>
                        <p>A simple AngularJS E-Commerce Store demo.</p>
                        <p>
                            <a ui-sref=".portfolio({id: 'petstore'})" class="btn btn-primary" role="button">Demo</a>
                            <a href="https://github.com/oliviertr/ecommerce-demo" target="_blank" class="btn btn-default" role="button">Code</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail portfolioThumbnail">
                    <img src="img/nhl-logo-lg.png" alt="NHL Stats">
                    <div class="caption portfolioCaption">
                        <h3>AngularJS NHL Stats</h3>
                        <p>A simple AngularJS NHL Stats application.</p>
                        <p>
                            <a ui-sref=".portfolio({id: 'nhlstats'})" class="btn btn-primary" role="button">Demo</a>
                            <a href="https://github.com/oliviertr/nhlStats" target="_blank" class="btn btn-default" role="button">Code</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="thumbnail portfolioThumbnail">
                    <img src="img/comingsoon.png" alt="Coming Soon">
                    <div class="caption portfolioCaption">
                        <h3>Coming Soon</h3>
                        <p>More applications coming soon.</p>
                        <!--<p>-->
                            <!--<a href="#" class="btn btn-primary" role="button">Demo</a>-->
                            <!--<a href="#" class="btn btn-default" role="button">Code</a>-->
                            <!--<a href="#" class="btn btn-info" role="button">Docs</a>-->
                        <!--</p>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>