.instructions {
    text-align: left;
    width: 350px;
    float: right;
    margin-right: 15px;
}

#sudoku {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: #000;
    border-radius: 4%;
    margin: 0 auto;
    text-align: center;
}

#sudokuGrid {
    position: relative;
    width: 95%;
    height: 70%;
    display: inline-block;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#sudokuBottomContainer {
    height: 5%;
}

#sudokuMarksMenu {
    height: 100%;
    color: white;
}

#sudokuMarksMenu input[type="radio"] {
    vertical-align: sub;
}

#sudokuMarksMenu label {
    margin: 0 10px;
}

#sudokuOkCancel {
    display: none;
    height: 100%;
}

#sudokuOkBtn {
    margin-right: 20px;
}

#sudokuDialog {
    margin-top: 0px;
    margin-left: 8%;
    background-color: #fff;
    width: 87%;
    height: 12%;
    z-index: 1;
}



