<div class="row">
	<div class="col-xs-6 col-md-3 text-center">
		<h2>Pacific</h2>
		<hr>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'ANA'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Anaheim Ducks.gif">Anaheim Ducks</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'ARI'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Arizona Coyotes.gif">Arizona Coyotes</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'CGY'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Calgary Flames.gif">Calgary Flames</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'EDM'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Edmonton Oilers.gif">Edmonton Oilers</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'LAK'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Los Angeles Kings.gif">Los Angeles Kings</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'SJS'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/San Jose Sharks.gif">San Jose Sharks</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'VAN'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Vancouver Canucks.gif">Vancouver Canucks</a>
	</div>
	<div class="col-xs-6 col-md-3 text-center">
		<h2>Central</h2>
		<hr>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'CHI'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Chicago Blackhawks.gif">Chicago Blackhawks</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'COL'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Colorado Avalanche.gif">Colorado Avalanche</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'DAL'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Dallas Stars.gif">Dallas Stars</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'MIN'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Minnesota Wild.gif">Minnesota Wild</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'NSH'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Nashville Predators.gif">Nashville Predators</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'STL'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/St. Louis Blues.gif">St. Louis Blues</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'WPG'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Winnipeg Jets.gif">Winnipeg Jets</a>
	</div>
	<div class="col-xs-6 col-md-3 text-center">
		<h2>Atlantic</h2>
		<hr>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'BOS'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Boston Bruins.gif">Boston Bruins</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'BUF'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Buffalo Sabres.gif">Buffalo Sabres</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'DET'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Detroit Red Wings.gif">Detroit Red Wings</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'FLA'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Florida Panthers.gif">Florida Panthers</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'MTL'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Montreal Canadiens.gif">Montreal Canadiens</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'OTT'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Ottawa Senators.gif">Ottawa Senators</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'TBL'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Tampa Bay Lightning.gif">Tampa Bay Lightning</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'TOR'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Toronto Maple Leafs.gif">Toronto Maple Leafs</a>
	</div>
	<div class="col-xs-6 col-md-3 text-center">
		<h2>Metropolitan</h2>
		<hr>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'CAR'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Carolina Hurricanes.gif">Carolina Hurricanes</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'CBJ'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Columbus Blue Jackets.gif">Columbus Blue Jackets</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'NJD'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/New Jersey Devils.gif">New Jersey Devils</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'NYI'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/New York Islanders.gif">New York Islanders</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'NYR'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/New York Rangers.gif">New York Rangers</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'PHI'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Philadelphia Flyers.gif">Philadelphia Flyers</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'PIT'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Pittsburgh Penguins.gif">Pittsburgh Penguins</a>
		<a ui-sref="root.portfolio.nhlstats.team({team: 'WSH'})" class="nhlstats-team"><img src="portfolio/nhlstats/images/nhl_logos/Washington Capitals.gif">Washington Capitals</a>
	</div>
</div>